<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joshua's GPA Tracker</title>
  <!-- css materialize -->
  {{!-- <link rel="stylesheet" href="/stylesheets/materialize.min.css"> --}}
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script type="text/javascript" src="/js/materialize.min.js"></script>
</head>
<body>
  <header>
    <nav>
      <p><a href=""></a> Cross Icon</p>
      <p><a href=""></a> Semesters</p>
      <p><a href=""></a> Edit</p>
    </nav>
  </header>
  <main>
    <p>Tap a semester to make it the current semester.</p>
    <section>
      <div>
        <p>Fall 2020</p>
        <hr>
      </div>
    </section>
  </main>
  
</body>
</html>